
<div class="about-us">
  <section class="team-members">
    <div class="member">
      <div class="avatar"><img src="/assets/images/cat1.jpg"></div>
      <div class="details">
        <p><strong>ชยางกูร สองเมือง</strong></p>
        <p>
          <span class="icon">📞</span> 064-xxx-xxx
        </p>
        <p>
          <span class="icon">📧</span> chayangkul.so&#64;ku.th
        </p>
      </div>
    </div>
    <div class="member">
      <div class="avatar"><img src="/assets/images/cat2.jpg"></div>
      <div class="details">
        <p><strong>พงศกร ทองกอบสม</strong></p>
        <p>
          <span class="icon">📞</span> 098-xxx-xxx
        </p>
        <p>
          <span class="icon">📧</span> phongsakorn.thon&#64;ku.th
        </p>
      </div>
    </div>
    <div class="member">
      <div class="avatar"><img src="/assets/images/cat3.jpg"></div>
      <div class="details">
        <p><strong>ณัฐพงศ์ ธัญญอนันต์ผล</strong></p>
        <p>
          <span class="icon">📞</span> 094-xxx-xxxx
        <p>
          <span class="icon">📧</span> nuttapong.than&#64;ku.th
        </p>
      </div>
    </div>
  </section>
</div>
