<div class="container mt-4" style="margin-bottom: 50px;">
    <style>
        .card-img-top {
            width: 100%;
            height: 500px; /* Set the height you want for the images */
            object-fit: cover; /* Ensures the image covers the area while maintaining aspect ratio */
        }
    </style>
<div class="container mt-4" style="margin-bottom: 50px;">
    <h2 class="text-center">รีวิว</h2>
    <br>
    <div class="row g-3"> <!-- Added g-3 for spacing between columns -->
        <!-- Product 1 -->
        <div class="col-md-6">
            <div class="card">
                <img src="/assets/images/Review1.png" class="card-img-top-center" alt="Review1">
                <div class="card-body-sm text-start">
                    <br>
                    <h5 class="card-text">รีวิว Samsung Galaxy A06 สมาร์ทโฟนระดับเริ่มต้นที่มี Auto Blocker และชาร์จเร็ว 25W</h5>
                    <p>Samsung Galaxy A06 สมาร์ทโฟนระดับเริ่มต้นที่เปิดตัวมาด้วยราคาที่เรียกได้ว่าใครๆ ก็เข้าถึงได้ง่าย ทั้งยังมาพร้อมกับฟีเจอร์ Auto Blocker และชาร์จเร็ว 25W อีกด้วย</p>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reviewProduct1Modal">Review More</button>
                </div>
            </div>
        </div>

        <!-- Product 2 -->
        <div class="col-md-6">
            <div class="card">
                <img src="/assets/images/Review2.png" class="card-img-top-center" alt="Review2">
                <div class="card-body-sm text-start">
                    <br>
                    <h5 class="card-text">รีวิว realme Note 60 มือถือสายอึด ทนทานรอบด้าน กันน้ำ กันกระแทก ในราคาเริ่มต้น 3,499 บาท</h5>
                    <p>รีวิว realme Note 60 สมาร์ตโฟนตัวเริ่มต้นรุ่นใหม่ของทาง realme ที่เน้นเรื่องความทนทานรอบด้าน มาพร้อมกับฟีเจอร์อย่าง ArmorShell Protection มาตรฐานใหม่ของสมาร์ตโฟนรุ่นเริ่มต้น ได้โครงสร้างที่แข็งแรง ทนต่อการตกกระแทก และยังทนทานต่อของเหลวต่างๆ อีกด้วย</p>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reviewProduct2Modal">Review More</button>
                </div>
            </div>
        </div>

        <!-- Product 3 -->
        <div class="col-md-6">
            <div class="card">
                <img src="/assets/images/Review3.png" class="card-img-top-center" alt="Review3">
                <div class="card-body-sm text-start">
                    <br>
                    <h5 class="card-text">รีวิว vivo V40 Series 5G สมาร์ตโฟนระดับกลางพลังกล้อง ZEISS ในราคาเริ่มต้นเพียง 15,999 บาท</h5>
                    <P>vivo ได้ทำการเปิดตัว vivo V40 Series 5G ที่ประกอบไปด้วย vivo V40 5G และ vivo V40 Pro 5G อย่างเป็นทางการในประเทศไทยเป็นที่เรียบร้อย โดยคราวนี้เรียกได้ว่ามีการอัปเกรดสเปคจากรุ่นก่อนหน้าพอสมควร</P>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reviewProduct3Modal">Review More</button>
                </div>
            </div>
        </div>

        <!-- Product 4 -->
        <div class="col-md-6">
            <div class="card">
                <img src="/assets/images/Review4.png" class="card-img-top-center" alt="Review4">
                <div class="card-body-sm text-start">
                    <br>
                    <h5 class="card-text">รีวิว vivo V30 Pro 5G | V-Series รุ่นแรกที่ได้กล้อง ZEISS สุดเทพ พร้อมสเปคจัดเต็ม ในราคาเพียง 19,999 บาท</h5>
                    <p>vivo V30 Pro 5G ตัวท๊อปของ V30 Series ที่ vivo เปิดตัวออกมาพร้อมกับ vivo V30 5G ที่เรารีวิวไปก่อนหน้านี้ ซึ่งครั้งนี้นั้นนับว่าพิเศษว่าครั้งก่อนๆ เพราะใน vivo V30 Pro 5G เครื่องนี้นั้นได้กล้อง ZEISS มาใช้</p>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reviewProduct4Modal">Review More</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal for Product 1: Samsung Galaxy S23 Ultra Reviews -->
<div class="modal fade" id="reviewProduct1Modal" tabindex="-1" aria-labelledby="reviewProduct1ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reviewProduct1ModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    <img src="/assets/images/Review1.png" class="img-fluid mb-3" alt="Review1">
                    <li>Samsung Galaxy A06 จากการที่ได้เอาไปลองใช้งานมาระยะหนึ่งนั้นต้องบอกเลยว่างานนี้ Samsung เริ่มกั๊กสเปคน้อยลงแล้ว ทำให้ผู้ที่มีงบน้อยแต่อยากได้สมาร์ทโฟนดีๆ สักเครื่องสามารถเข้าถึงได้มากยิ่งขึ้น โดย Galaxy A06 นี้เป็นเครื่องที่เหมาะกับการใช้งานพื้นฐานเป็นหลัก ไม่ว่าจะเป็นการโทรหรือการเล่นโซเชียล ซึ่งถ้าถามว่าใครเหมาะสมกับเครื่องรุ่นนี้บ้างก็ต้องขอบอกเลยว่า Samsung Galaxy A06 นั้นเหมาะกับการซื้อให้เด็กเล็กหรือผู้สูงอายุเอาไว้ใช้งานในฐานะอุปกรณ์ติดต่อสื่อสาร หรือจะเอามาใช้เป็นเครื่องสำรองเวลาฉุกเฉินก็ได้เช่นกัน</li>
                    <h5>จุดเด่น</h5>

                        <li>ดีไซน์สวยเกินราคา</li>
                        <li>ได้หน้าจอใหญ่ถึง 6.7 นิ้ว</li>
                        <li>ได้ชิป Helio G85 ที่ค่อนข้างแรง</li>
                        <li>มีตัวเลือกความจุ 128GB ให้เลือกด้วย</li>
                        <li>แบตเตอรี่ 5000mAh อึด ถึก ทน แบบสุดๆ</li>
                        <li>ได้ระบบชาร์จเร็ว 25W มาด้วย</li>
                        <li>มีฟีเจอร์ Auto Blocker มาช่วยเพิ่มความปลอดภัยให้</li>
                        <h5>ข้อสังเกต</h5>

                        <li>ให้แรมมาเพียง 4GB ซึ่งไม่ค่อยจะเพียงพอต่อการใช้งานเท่าไร</li>
                        <li>ความจุ 64GB ไม่เหมาะกับการใช้งานในปี 2024 นี้แล้ว</li>
                        <li>ชัตเตอร์กล้องมีความหน่วงเล็กน้อย</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Product 2: Samsung Galaxy S23+ Reviews -->
<div class="modal fade" id="reviewProduct2Modal" tabindex="-1" aria-labelledby="reviewProduct2ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reviewProduct2ModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    <img src="/assets/images/Review2.png" class="img-fluid mb-3" alt="Review2">
                    <li>realme Note 60 สมาร์ตโฟนตัวเริ่มต้นรุ่นใหม่ของทาง realme ที่เน้นเรื่องความทนทานรอบด้าน มาพร้อมกับฟีเจอร์อย่าง ArmorShell Protection มาตรฐานใหม่ของสมาร์ตโฟนรุ่นเริ่มต้น ได้โครงสร้างที่แข็งแรง ทนต่อการตกกระแทก และยังทนทานต่อของเหลวต่างๆ อีกด้วย ที่สำคัญคือราคาเริ่มต้นของรุ่นนี้ อยู่ที่ 3,499 บาทเท่านั้นครับ</li>
                    <li>realme Note 60 ผมมองว่าเรื่องสเปคต่อราคา ทั้ง CPU, RAM, ROM อยู่ในเกณฑ์มาตรฐาน ค่อนไปทางดี คือเมื่อเทียบกับสมาร์ตโฟนแบรนด์อื่นในช่วงราคาเดียวกัน ก็สามารถสู้ได้อย่างสูสี สเปคไม่ได้ทิ้งห่างกันมากนัก แต่เรื่องประสบการณ์ใช้งานนี่ล่ะ ที่ผมมองว่า realme Note 60 ทำได้ดี และเป็นจุดเด่นของสมาร์ตโฟนรุ่นนี้ได้เลย</li>
                    <p>ทั้งเรื่องการปรับจูนซอฟต์แวร์ ให้สามารถรีดประสิทธิภาพของฮาร์ดแวร์ได้อย่างเต็มที่ ส่งผลให้รุ่นนี้เป็นสมาร์ตโฟนราคาไม่เกิน 4,000 บาท ที่เล่นเกมยอดฮิตอย่าง RoV ได้แบบลื่นๆ 60fps การใช้งานพื้นฐานก็สบายหายห่วง และยังมีหมัดเด็ดอย่าง ArmorShell Protection เสริมความทนทานรอบด้านให้สมาร์ตโฟนรุ่นเริ่มต้น มีทั้งความแข็งแกร่ง ทนทานต่อการหักงอ การตกกระแทก ไปจนถึงคุณสมบัติในการกันน้ำกันฝุ่น IP64 ซึ่งหาได้ยากในสมาร์ตโฟนรุ่นเริ่มต้น ที่วางจำหน่ายในราคาไม่แพง ถือเป็นมาตรฐานใหม่ของสมาร์ตโฟนตัวเริ่มต้นก็ว่าได้ครับ</p>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Product 3: Samsung Galaxy S23 Reviews -->
<div class="modal fade" id="reviewProduct3Modal" tabindex="-1" aria-labelledby="reviewProduct3ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reviewProduct3ModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    <img src="/assets/images/Review3.png" class="img-fluid mb-3" alt="Review3">
                    <li>vivo ได้ทำการเปิดตัว vivo V40 Series 5G ที่ประกอบไปด้วย vivo V40 5G และ vivo V40 Pro 5G อย่างเป็นทางการในประเทศไทยเป็นที่เรียบร้อย โดยคราวนี้เรียกได้ว่ามีการอัปเกรดสเปคจากรุ่นก่อนหน้าพอสมควร ด้วยการนำกล้อง ZEISS มาใส่ใน V40 5G ที่เป็นรุ่นเริ่มต้น ทำให้กล้อง ZEISS สามารถเข้าถึงได้ง่ายขึ้นตามไปด้วย ซึ่งทางทีมงาน Specphone ก็ได้รับ V40 Series 5G มาทั้ง 2 รุ่นเลย เราเลยจะมาทำการรีวิวรวมในบทความนี้บทความเดียวเลย</li>
                    <li>จากการที่ได้นำเอา vivo V40 Series 5G ทั้ง 2 รุ่นไปลองเล่นมา บอกเลยว่าคราวนี้ vivo ไม่ธรรมดา จัดเต็มกว่าที่เคย ไม่ว่าจะเป็นการใส่กล้อง ZEISS ใน V40 5G ที่เป็นตัวธรรมดา เพิ่มลำโพงคู่ ใช้แบตเตอรี่แบบใหม่ที่มีความจุเพิ่มขึ้นแต่มีขนาดที่เล็กและบางลง รวมถึงมีการใช้ชิประดับเรือธงด้วย ทำให้ vivo V40 Series 5G นั้นดูน่าสนใจขึ้นมาเยอะมาก และด้วยราคาที่ไม่ได้แพงเลยเมื่อเทียบกับสเปคที่ให้ทำให้ vivo V40 Series 5G เป็นสมาร์ตโฟนระดับกลางที่น่าสนใจมากตัวหนึ่งในตลาดเลย</li>
                    <h5>จุดเด่น</h5>

                    <li>ได้กล้องพร้อมฟีเจอร์ ZEISS ทุกรุ่นย่อย</li>
                    <li>ได้ลำโพงคู่สเตอริโอ</li>
                    <li>vivo V40 Pro 5G ได้ชิประดับเรือธงอย่าง Dimensity 9200+</li>
                    <li>มาพร้อมแบตเตอรี่ขนาดใหญ่ 5500mAh และชาร์จเร็ว 80W</li>
                    <li>ตัวเครื่องบางเพียง 7.58 มม.</li>
                    <li>ไฟ Aura Light สว่างสุดๆ</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Product 4: Samsung Galaxy Z Fold5 Reviews -->
<div class="modal fade" id="reviewProduct4Modal" tabindex="-1" aria-labelledby="reviewProduct4ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reviewProduct4ModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    <img src="/assets/images/Review4.jpg" class="img-fluid mb-3" alt="Samsung Galaxy Z Fold5">
                    <li>vivo V30 Pro 5G ตัวท๊อปของ V30 Series ที่ vivo เปิดตัวออกมาพร้อมกับ vivo V30 5G ที่เรารีวิวไปก่อนหน้านี้ ซึ่งครั้งนี้นั้นนับว่าพิเศษว่าครั้งก่อนๆ เพราะใน vivo V30 Pro 5G เครื่องนี้นั้นได้กล้อง ZEISS มาใช้เช่นเดียวกับรุ่นเรือธงอย่าง vivo X Series เลย ทำให้การถ่ายภาพนั้นเทพกว่า-เหนือกว่าแบบคนละชั้นกันเลย แต่ด้วยราคาค่าตัวที่เข้าถึงได้ง่ายกว่า น่าจะทำให้แฟนๆ ZEISS ที่งบไม่เยอะดีใจกันแน่นอน</li>
                    <li>จากการที่ได้เอาไปใช้งานมาระยะหนึ่งนั้นบอกเลยว่าคราวนี้ทาง vivo จัดเต็มมากกับฟีเจอร์ด้านกล้องถ่ายภาพมากทีเดียว ไม่ว่าจะความละเอียด 50MP ทุกเลนส์ ฟีเจอร์ที่ช่วยเสริมให้ภาพออกมาดูสวยงามมากมาย แถมยังได้ฟีเจอร์จาก ZEISS ครบถ้วน อีกทั้งยังมี Aura Light Potrait 3.0 รุ่นใหม่ที่มากความสามารถขึ้น ทำให้การถ่ายภาพมีความหลากหลายมากขึ้น สามารถถ่ายได้หลากหลายสถานการณ์มากขึ้น แถมยังยังสามารถเล่นให้แหวกแนวกว่ารูปแบบเดิมๆ ได้อีกด้วย แน่นอนว่าสเปคอื่นๆ ที่ให้มานั้นก็นับว่าไม่ธรรมดา ทั้งชิปประมวลผลรองท๊อปอย่าง Dimesnity 8200 แรมขนาด 12GB + 12GB ความจุขนาด 512GB และระบบชาร์จขนาด 80W ทำให้สามารถพูดได้เลยว่า vivo V30 Pro 5G เครื่องนี้แทบจะเป็นเรือธงอยู่แล้ว</li>
                    <p>แต่ที่ทำให้ผู้เขียนว้าวที่สุดก็คือการที่ได้กล้อง ZEISS ในราคาค่าตัวที่ 19,999 บาท ซึ่งนับว่าเป็นราคาที่ไม่แพงเลย เมื่อเทียบกับการที่แต่เดิมต้องซื้อแค่รุ่นเรือธงเท่านั้น และที่สำคัญ vivo X100 Series ที่ได้กล้อง ZEISS เหมือนกันสามารถบันทึกวิดีโอจากกล้องหน้าได้ที่ความละเอียดเพียง 1080P เท่านั้น ในขณะที่ vivo V30 Pro 5G สามารถบันทึกได้ถึง 4K นับว่าเป็นข้อได้เปรียบที่ค่อนข้างใหญ่เลยสำหรับคนที่ชอบถ่ายคลิปจากกล้องหน้า</p>
                    <h5>จุดเด่น</h5>

                    <li> เครื่องเบางบางมากเมื่อเทียบกับแบรนด์อื่นๆ ในเรทราคาเดียวกัน</li>
                    <li>ได้หน้าจอ AMOLED ขอบโค้งที่มีความละเอียดระดับ 1.5K</li>
                    <li>ได้ชิป Dimensity 8200</li>
                    <li>ได้แรมเยอะถึง 12GB และยังเพิ่มได้อีก 12GB</li>
                    <li>มาพร้อมความจุ 512GB ตั้งแต่แรกเลย</li>
                    <li>ได้กล้อง ZEISS พร้อมฟีเจอร์ ZEISS แบบครบถ้วน</li>
                    <li>ได้กล้อง 50MP ทุกตัว แถมด้วยฟีเจอร์ให้เล่นเพียบ</li>
                    <li>ไฟแฟลช Aura Light ทรงเหลี่ยม มีขนาดที่ใหญ่ขึ้น ทำให้ได้แสงที่สว่างขึ้นแต่ก็นุ่มนวลขึค้นด้วยเช่นกัน</li>
                    <li>แบตเตอรี่ขนาด 5000mAh ที่สามารถใช้งานได้ครบวันสบายๆ</li>
                    <li>ชาร์จเร็ว 80W ที่ใช้เวลาชาร์จไม่ถึงชั่วโมงก็เต็ม แถมให้อะแดปเตอร์มาในกล้องไม่ต้องซื้อเพิ่ม</li>
                </ul>
            </div>
        </div>
    </div>
</div>











<!--ทำต่อตรงนี้-->



    <div class="row g-3"> <!-- Added g-3 for spacing between columns -->
        <!-- Product 1 -->
        <div class="col-md-6">
            <div class="card">
                <img src="/assets/images/Review5.png" class="card-img-top-center" alt="Review5">
                <div class="card-body-sm text-start">
                    <br>
                    <h5 class="card-text">รีวิว Infinix HOT 40 Pro มือถือเกมมิ่งที่ได้ชิป Helio G99 กับความจุ 256GB ในราคาเบาๆ</h5>
                    <p>Infinix HOT 40 Pro มือถือเล่นเกมราคาเบาๆ จาก Infinix ที่ได้รับการปรับแต่งเพิ่มเติมมาให้สามารถเล่นเกม Free Fire ได้ลื่นยิ่งขึ้น แถมด้วยค่าตัวไม่ถึง 6,000 บาท ทำให้ใครหลายๆ คนน่าจะเข้าถึงได้ง่าย</p>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reviewProduct5Modal">Review More</button>
                </div>
            </div>
        </div>

        <!-- Product 2 -->
        <div class="col-md-6">
            <div class="card">
                <img src="/assets/images/Review6.png" class="card-img-top-center" alt="Review6">
                <div class="card-body-sm text-start">
                    <br>
                    <h5 class="card-text">รีวิว iPhone 15 Pro ขอบไทเท USB-C สุด(ร้อน)แรง คุ้มมั้ยถ้าจะอัปจากรุ่นเก่า</h5>
                    <p>ในที่สุด ไอโฟนรุ่นที…</p>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reviewProduct6Modal">Review More</button>
                </div>
            </div>
        </div>

        <!-- Product 3 -->
        <div class="col-md-6">
            <div class="card">
                <img src="/assets/images/Review7.png" class="card-img-top-center" alt="Review7">
                <div class="card-body-sm text-start">
                    <br>
                    <h5 class="card-text">รีวิว realme 11 Pro 5G สมาร์ทโฟนดีไซน์หรู กล้อง 100MP ครบเครื่องในราคา 12,999 บาท</h5>
                    <p>realme 11 Pro 5G สมาร์ทโฟนระดับกลางรุ่นใหม่ของ realme ที่มาพร้อมดีไซน์และสเปคในระดับเรือธง ซึ่งในรุ่นนี้ตอนที่เปิดตัวนั้นจะมาด้วยกันทั้งหมด 2 สีคือสี Sunrise Beige, Astral Black</p>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reviewProduct7Modal">Review More</button>
                </div>
            </div>
        </div>

        <!-- Product 4 -->
        <div class="col-md-6">
            <div class="card">
                <img src="/assets/images/Review8.png" class="card-img-top-center" alt="Review8">
                <div class="card-body-sm text-start">
                    <br>
                    <h5 class="card-text">รีวิว Infinix HOT 30 ตัวคุ้มงบ 5,000 จอใหญ่ 6.78 นิ้ว ชิป Helio G88 ชาร์จเร็ว 33W</h5>
                    <p>Infinix HOT 30 สมาร์ทโฟนตัวคุ้มรุ่นใหม่จาก Infinix ประจำปี 2023 ที่มาพร้อมกับสเปคอัดแน่นในงบเพียง 5,000 บาท เรียกได้ว่าเป็นอะไรที่คุ้มค่าอย่างมาก</p>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reviewProduct8Modal">Review More</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal for Product 1: Samsung Galaxy S23 Ultra Reviews -->
<div class="modal fade" id="reviewProduct5Modal" tabindex="-1" aria-labelledby="reviewProduct5ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reviewProduct5ModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    <img src="/assets/images/Review5.png" class="img-fluid mb-3" alt="Review5">
                    <li>Infinix HOT 40 Pro มือถือเล่นเกมราคาเบาๆ จาก Infinix ที่ได้รับการปรับแต่งเพิ่มเติมมาให้สามารถเล่นเกม Free Fire ได้ลื่นยิ่งขึ้น แถมด้วยค่าตัวไม่ถึง 6,000 บาท ทำให้ใครหลายๆ คนน่าจะเข้าถึงได้ง่าย เพียงแต่ในช่วงเรทราคานี้นั้นมีคู่แแข่งเยอะมาก วันนี้เราจะมาเล่าให้ทุกคนฟังว่าการใช้งานตัวเครื่องนั้นเป็นอย่างไรหลังจากที่เราได้เอาไปลองใช้งานมาระยะหนึ่งแล้ว</li>
                    <p>จากการที่ได้เอาไปใช้งานมาระยะหนึ่งนั้นต้องบอกเลยว่างานนี้ทาง Infinix จัดเต็มมากทีเดียว ทั้งสเปคที่ให้มา กล้องที่มีความละเอียดสูงเวอร์ และราคาค่าตัวที่นับว่าถูกมาก น่าจะถูกใจวัยรุ่นงบน้อยมากทีเดียว และน่าจะถูกใจเกมเมอร์สาย Free Fire ยิ่งขึ้นไปอีกด้วยการที่สามารถเล่นแบบ 90fps ได้ลื่นๆ ด้วย</p>
                    <h5>จุดเด่น</h5>

                    <li>ค่าตัวถูกมากเมื่อเทียบกับสเปคที่ให้มา</li>
                    <li>ได้หน้าจอ 120Hz</li>
                    <li>ชิป Helio G99 + X-BOOST ช่วยให้เล่นเกมได้ลื่นมาก</li>
                    <li>มาพร้อมความจุ 256GB เลย</li>
                    <li>ได้กล้อง 108MP ที่ไม่มีใครให้ได้ในเรทราคานี้</li>
                    <li>ได้ชาร์จเร็ว 33W</li>
                    <li>มีไจโรสโคปติดตั้งมาให้ด้วย</li>
                    <li>ได้รับการปรับแต่งเพิ่มเติมเพื่อให้สามารถเล่นเกม Free Fire ได้อย่างเต็มที่</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Product 2: Samsung Galaxy S23+ Reviews -->
<div class="modal fade" id="reviewProduct6Modal" tabindex="-1" aria-labelledby="reviewProduct6ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reviewProduct6ModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    <img src="/assets/images/Review6.png" class="img-fluid mb-3" alt="Review6">
                    <h5>ในที่สุด ไอโฟนรุ่นที่หลายคนรอคอยอยู่ก็วางขายในประเทศไทยอย่างเป็นทางการแล้ว พร้อมกับการวางจำหน่ายพร้อมกันในหลายประเทศที่อยู่กลุ่ม tier 1 ด้วยกัน สำหรับในบทความนี้จะเป็นการรีวิว iPhone 15 Pro ที่ทั้งในการเปิดตัว และบนหน้าเว็บไซต์ของ Apple เองจะวางสิ่งที่เป็นไฮไลท์ไว้ 4 อย่างด้วยกัน ได้แก่</h5>
                    <li>การเปลี่ยนมาใช้ไทเทเนียม</li>
                    <li>ปุ่ม Action</li>
                    <li>ประสิทธิภาพของชิป A17 Pro</li>
                    <li>กล้องถ่ายรูป</li>

                    <li>จากที่ทดสอบกับตัวเองแล้วก็พบว่าในช่วงแรก ๆ มันร้อนง่ายกว่าเดิมจริง แต่พอผ่านไปซักพักหนึ่งก็กลับมาอยู่ในระดับปกติของ iPhone แล้ว เวลาชาร์จก็ไม่ได้ร้อนไปกว่าเดิมเลย และคาดว่าน่าจะจัดการความร้อนได้ดีขึ้นด้วย จากที่ Apple รับทราบถึงปัญหาแล้ว และเตรียมจะอัปเดตแพตช์ในเร็ว ๆ นี้</li>
                    <p>เรื่องต่อมาก็คือปุ่ม Action ที่ยืดหยุ่นกับการใช้งานจริงกว่าเดิมมาก สามารถตั้งค่าได้หลากหลาย ยิ่งใครที่เป็นสายชอบใช้ Shortcut คงจะชอบใจทีเดียว ส่วนเรื่องประสิทธิภาพที่พัฒนาขึ้นในหลายจุด โดยเฉพาะจากชิป A17 Pro ทำให้มีฟีเจอร์ระดับโปรที่เพิ่มขึ้นมา ทั้งเรื่องของการใช้งานกล้อง และการเชื่อมต่อ USB 3 ที่สามารถนำแบนด์วิธที่เพิ่มขึ้นมาใช้งานได้หลากหลายกว่าเดิม แม้ใน Android จะทำหลาย ๆ อย่างได้อยู่ก่อนแล้วก็ตาม แต่ปฏิเสธไม่ได้ว่าฝั่ง iPhone ทำได้แล้ว มันก็คือเรื่องดีกับผู้บริโภคอย่างเราอยู่ดี แม้ว่าในระดับผู้ใช้งานทั่วไปจะไม่ค่อยได้ใช้ฟีเจอร์เหล่านั้นมากนัก เช่น การเชื่อมต่ออุปกรณ์ผ่าน USB-C การถ่ายวิดีโอเป็นไฟล์ Log เป็นต้น แต่มีไว้ย่อมดีกว่าอยู่แล้ว เพราะกลุ่มที่ใช้งานฟีเจอร์เหล่านี้ก็มีไม่น้อยเหมือนกัน</p>
                    <p>ประเด็นสุดร้อนแรงอย่างเรื่องสายชาร์จ USB-C ที่ต้องบอกว่าจริง ๆ แล้วเราสามารถใช้สายอื่นได้ ไม่จำเป็นต้องใช้สายและอะแดปเตอร์ชาร์จไฟจาก Apple อย่างเดียวแบบที่หลายท่านเข้าใจ แต่ขอให้เป็นสายและอะแดปเตอร์ที่มีมาตรฐาน มาจากแบรนด์ที่น่าเชื่อถือ เป็นที่ยอมรับในวงกว้าง และรองรับการชาร์จในมาตรฐาน USB PD เพียงเท่านี้ก็สามารถใช้งาน iPhone 15 Pro ได้อย่างปลอดภัยแล้ว ถ้าเป็นไปได้ก็เลือกใช้สายแบบ USB-C to C ก็จะดี ได้ทั้งการชาร์จที่เร็ว ใช้รับส่งข้อมูลได้ รวมถึงยังเป็นรูปแบบของสายที่ตรงกับสายแถมในกล่องด้วย</p>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Product 3: Samsung Galaxy S23 Reviews -->
<div class="modal fade" id="reviewProduct7Modal" tabindex="-1" aria-labelledby="reviewProduct7ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reviewProduct7ModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    <img src="/assets/images/Review7.png" class="img-fluid mb-3" alt="Review7">
                    <li>จากการที่ได้เอาไปใช้งานมาระยะหนึ่งนั้นบอกเลยว่าเป็นเครื่องที่พกพาสะดวก และยังถ่ายภาพสนุกอีกด้วย ใครที่กำลังอยากได้สมาร์ทโฟนน้ำหนักเบา ๆ กล้องดี ๆ ในราคาที่ไม่ได้สูงจนเกินไป ตัวนี้น่าจะเป็นหนึ่งในตัวเลือกที่ดีเลยทีเดียว โดยค่าตัวเองก็นับว่าไม่ได้แพงอะไรอยู่ที่ 12,999 บาทเท่านั้นเอง ซึ่งนับว่าเป็นเรทราคาที่ใคร ๆ ก็สามารถเข้าถึงได้</li>
                    <h5>จุดเด่น</h5>
                    <li>ตัวเครื่องมีความบางเบา ทำให้พกพาได้สะดวก</li>
                    <li>มาพร้อมจอ AMOLED 120Hz</li>
                    <li>ได้ชิปประมวลผล Dimensity 7050 5G</li>
                    <li>ให้ความจุมาเลย 256GB</li>
                    <li>กล้องหลักความละเอียดสูง 100MP ที่สามารถถ่ายภาพแบบ 2x ได้</li>
                    <li>ฟีเจอร์กล้องมีให้เล่นเพียบ</li>
                    <li>AI กล้องมีความฉลาดและแม่นยำมาก</li>
                    <li>ชาร์จเร็ว 67W ที่ใช้เวลาชาร์จจาก 0% – 100% ในเวลาเพียง 45 นาทีเท่านั้น</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Product 4: Samsung Galaxy Z Fold5 Reviews -->
<div class="modal fade" id="reviewProduct8Modal" tabindex="-1" aria-labelledby="reviewProduct8ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reviewProduct8ModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    <img src="/assets/images/Review8.png" class="img-fluid mb-3" alt="Review8">
                    <li>Infinix HOT 30 สมาร์ทโฟนตัวคุ้มรุ่นใหม่จาก Infinix ประจำปี 2023 ที่มาพร้อมกับสเปคอัดแน่นในงบเพียง 5,000 บาท เรียกได้ว่าเป็นอะไรที่คุ้มค่าอย่างมาก ไม่ว่าจะเป็นหน้าจอที่ใหญ่ แถมยังมีความละเอียดระดับ FHD+ ได้ชิป Helio G88 รวมถึงได้ระบบชาร์จเร็ว 33W แถม RAM อีก 8GB เยอะสุดในเรทราคาเดียวกัน ซึ่งสิ่งเหล่านี้จะไม่มีทางเจอได้เลยในสมาร์ทโฟนราคาต่ำกว่า 5,000 บาท นอกจากนี้ทาง Infinix ยังได้ไปร่วมมือกับทาง Free Fire ปรับแต่งครื่องให้สามารถเล่นเกม Free Fire ได้ลื่นยิ่งกว่าใครๆ โดยหลังจากที่เรนาได้เอาไปลองใช้งานมาระยะหนึ่งแล้วเป็นอย่างไร</li>
                    <li>จากการที่ได้เอาไปใช้งานมาระยะหนึ่งนั้น สิ่งที่ได้พบเลยก็คือ Infinix HOT 30 เป็นสมาร์ทโฟนที่น่าจะคุ้มค่าที่สุดในเรทไม่เกิน 5,000 บาทแล้ว</li>
                    <h5>จุดเด่น</h5>
                    <li>ดีไซน์ที่สวยโดดเด่นเกินราคา ให้ผิวสัมผัสคล้ายกระจกทั้งๆ ที่เป็นพลาสติก</li>
                        <li>ได้ RAM 8 GB ซึ่งไม่มีใครให้มาในเรทราคานี้เลย</li>
                        <li>ได้หน้าจอ 6.78 นิ้ว ที่มีความละเอียด FHD+</li>
                        <li>ได้ชิป Helio G88 ที่สามารถใช้เล่นเกมได้เกือบทุกรูปแบบ</li>
                        <li>ได้กล้องหลัง 50MP ที่สามารถใช้ได้จริง</li>
                        <li>มีระบบชาร์จเร็ว 33W ทำให้ไม่ต้องใช้เวลาชาร์จนานเกินไป</li>
                        <li>มีลำโพงคู่ระบบเสียง DTS</li>
                        <li>ยังคงให้ช่องหูฟังขนาด 3.5 มม. มาอยู่</li>
                        <li>ราคาค่าตัวแค่ 4,799 เท่านั้น (ข้อนี้สำคัญสุด)</li>
                </ul>
            </div>
        </div>
    </div>
</div>












<div class="container mt-4" style="margin-bottom: 100px;">
    <br>
    <div class="row g-3"> <!-- Added g-3 for spacing between columns -->
        <!-- Product 1 -->
        <div class="col-md-6">
            <div class="card">
                <img src="/assets/images/Review9.png" class="card-img-top-center" alt="Review9">
                <div class="card-body-sm text-start">
                    <br>
                    <h5 class="card-text">รีวิว Redmi 12C ตัวเริ่มต้นราคากลางๆ ที่มาพร้อมจอใหญ่ 6.71 นิ้ว Helio G85 ความจุสูงสุด 128GB แบตเตอรี่ 5,000 mAh</h5>
                    <p>Redmi 12C สมาร์ทโฟนระดับเริ่มต้นจาก Xiaomi ประจำปี 2023 ที่เปิดตัวมาด้วยจุดเด่นคือหน้าจอใหญ่ ชิปแรง กล้องความละเอียดสูง และแบตเตอรี่อึด ในราคาที่ไม่ได้แพงเกินไป</p>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reviewProduct9Modal">Review More</button>
                </div>
            </div>
        </div>

        <!-- Product 2 -->
        <div class="col-md-6">
            <div class="card">
                <img src="/assets/images/Review10.png" class="card-img-top-center" alt="Review10">
                <div class="card-body-sm text-start">
                    <br>
                    <h5 class="card-text">รีวิว Xiaomi 13 เรือธงไซส์เล็ก Snap 8 Gen 2 ชาร์จเร็ว 67W เบาๆ แค่ 189 กรัม ในราคาเพียง 29,990 บาท</h5>
                    <p>Xiaomi 13 สมาร์ทโฟนระดับเรือธงรุ่นใหม่ล่าสุดของ Xiaomi ที่ได้รับความร่วมมือจากทาง Leica ด้วยคอนเซ็ปต์ “Behind the masterpiece” ได้ออกมาให้เราได้ยลโฉมแล้ว</p>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reviewProduct10Modal">Review More</button>
                </div>
            </div>
        </div>

        <!-- Product 3 -->
        <div class="col-md-6">
            <div class="card">
                <img src="/assets/images/Review11.png" class="card-img-top-center" alt="Review11">
                <div class="card-body-sm text-start">
                    <br>
                    <h5 class="card-text">รีวิว HUAWEI P50 กล้องระดับโปร 50MP พร้อม XD Optics ในดีไซน์ Dual-Matrix Camera | ราคา 26,990 บาท</h5>
                    <p>ในงาน HUAWEI Flagship Product Launch 2022 นอกจากจะเปิดตัว HUAWEI Mate Xs 2 แล้ว ยังมีสมาร์ตโฟนที่น่าสนใจอีกรุ่นเปิดตัวในงาน ได้แก่ HUAWEI P50 ที่จะมารีวิวให้ทุกคนได้อ่านกัน โดยรุ่นนี้จากที่ได้ทดลองใช้งานมาสักพัก ผมว่ามันเป็นสมาร์ตโฟนที่น่าสนใจสำหรับคนที่ชอบถ่ายรูป</p>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reviewProduct11Modal">Review More</button>
                </div>
            </div>
        </div>

        <!-- Product 4 -->
        <div class="col-md-6">
            <div class="card">
                <img src="/assets/images/Review12.png" class="card-img-top-center" alt="Review12">
                <div class="card-body-sm text-start">
                    <br>
                    <h5 class="card-text">พรีวิว OPPO Find X5 Pro 5G เรือธงกล้อง Hasselblad พร้อมชิป MariSilicon X และระบบชาร์จเร็ว 80W SUPERVOOC ในราคา 39,990 บาท</h5>
                    <p>OPPO Find X5 Pro มือถือเรือธงรุ่นใหม่ล่าสุดของทาง OPPO ที่คราวนี้ได้รับความร่วมมือจาก Hasselblad มาช่วยพัฒนากล้องให้มีความเหนือชั้นยิ่งกว่าที่ผ่านๆ มา อีกทั้งยังมีการใส่ NPU MariSilicon X ที่ OPPO พัฒนาขึ้นมาเอง ช่วยเพิ่มความสามารถในการถ่ายภาพและวิดีโอในทุกช่วงเวลาเทพยิ่งขึ้นไปอีก</p>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reviewProduct12Modal">Review More</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal for Product 1: Samsung Galaxy S23 Ultra Reviews -->
<div class="modal fade" id="reviewProduct9Modal" tabindex="-1" aria-labelledby="reviewProduct9ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reviewProduct9ModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    <img src="/assets/images/Review9.png" class="img-fluid mb-3" alt="Review9">
                    <li>จากที่ได้เอาไปลองใช้งานมาระยะหนึ่งนั้นต้องบอกเลยว่า Redmi 12C เป็นมือถือที่เหมาะกับคนที่ต้องการมือถือมาไว้ใช้งานทั่วไปมากกว่า เหมาะจะซื้อมาไว้ให้พ่อ-แม่, ผู้สูงอายุ หรือจะซื้อมาไว้ให้เด็กใช้ก็ยังได้ เพราะตัวเครื่องเองก็สามารถเอามาใช้เล่นเกมได้ในระดับหนึ่ง แต่ถ้าหากคาดหวังถึงภาพคมๆ หรือกล้องดีๆ แล้ว Redmi 12C อาจจะไม่ตอบโจทย์คุณสักเท่าไร</li>
                    <h5>จุดเด่น</h5>

                        <li>ดีไซน์ตัวเครื่องออกแบบมาเพื่อให้ไม่ลื่นหลุดมือเวลาใช้งาน</li>
                        <li>ได้หน้าจอนาดใหญ่ 6.71 นิ้ว</li>
                        <li>ได้ชิปประมวลผล MediaTek Helio G85</li>
                        <li>รุ่นความจุ 128GB ได้แรมเยอะขึ้นกว่าเดิม</li>
                        <li>แบตเตอรี่ขนาด 5,000 mAh ที่อึด ถึก ทน สุดๆ</li>
                        <li>ยังให้ช่องหูฟังขนาด 3.5 มม. มาอยู่</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Product 2: Samsung Galaxy S23+ Reviews -->
<div class="modal fade" id="reviewProduct10Modal" tabindex="-1" aria-labelledby="reviewProduct10ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reviewProduct10ModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    <img src="/assets/images/Review10.png" class="img-fluid mb-3" alt="Review10">
                    <li>จากที่ได้เอาไปลองใช้งานมาแล้วนั้นต้องบอกเลยว่า Xaiomi 13 เป็นเรือธงไซส์พกพาที่น่าสนใจพอสมควร ด้วยการออกแบบตัวเครื่องที่กระชับมืออย่างมาก และน้ำหนักตัวเครื่องที่เบา ทำให้เป็นเครื่องที่พกพาง่าย แล้วด้วยชิปประมวลผล Snapdragon 8 Gen 2 ก็ทำให้สามารถใช้งานได้ทุกรูปแบบ และด้วยการที่ได้ Leica มาช่วยพัฒนากล้อก็ช่วยให้ได้ภาพถ่ายที่สวยงามอย่างเป็นธรรมชาติ จะบอกว่าเป็นเครื่องที่เหมาะกับวัยรุ่นที่ต้องการสมาร์ทโฟนแรงๆ ถ่ายรูปสวยๆ แต่มีขนาดที่พกพาได้ง่าย หรือไม่ก็คนที่ต้องการภาพแบบ Leica แต่ไม่มีเงินซื้อกล้องก็สามารถใช้ Xiaomi 13 Series แทนได้เลย สำหรับจุดที่เรียกได้ว่าเป็นปัญหาของเครื่องนี้หลักๆ จะมีเพียงแค่เรื่องความร้อนที่ขึ้นค่อนข้างเร็วทำให้อาจจะส่งผลให้ไม่สามาถรเล่นต่อเนื่องนานๆ ได้ และอาจส่งผลต่อตัวเครื่องในระดับหนึ่งด่วย</li>
                    <h5>จุดเด่น</h5>
                    <li>วัสดุให้ความรู้สึกพรีเมี่ยม</li>
                    <li>ขนาดที่เล็กกระทัดรัดและน้ำหนักที่เบา</li>
                    <li>ชิปประมวลผลที่แรงในระดับที่สามารถใช้เล่นเกมหนักๆ ได้สบาย</li>
                    <li>กล้องที่พัฒนาร่วมกับ Leica ให้ภาพที่สวยแบบเป็นธรรมชาติ</li>
                    <li>แบตเตอรี่ขนาด 4,500 mAh แต่สามารถใช้งานได้ทั้งวันแบบสบายๆ</li>
                    <li>ชาร์จเร็ว 67W ใช้เวลาชาร์จจาก 0% – 50% ได้ภายในเวลาแค่ 18 นาทีเท่านั้น</li>
                    <li>ในกล่องมีการให้เคสมาด้วย ไม่จำเป็นต้องไปหาซื้อเพิ่ม</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Product 3: Samsung Galaxy S23 Reviews -->
<div class="modal fade" id="reviewProduct11Modal" tabindex="-1" aria-labelledby="reviewProduct11ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reviewProduct11ModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    <img src="/assets/images/Review11.png" class="img-fluid mb-3" alt="Review11">
                    <li>สำหรับ HUAWEI P50 กับค่าตัวที่ประหยัดไปจากรุ่นโปร 7,000 บาท ผมมองว่าเป็นราคาส่วนต่างที่รับได้เลย หากไม่ได้ต้องการถ่ายภาพซูมไกลมาก ๆ เน้นใช้งานระยะปกติ – อัลตร้าไวด์ หรือถ้าต้องการซูมจริง ๆ รุ่นนี้ก็ไม่ได้ซูมได้น้อยหน้าใครเหมือนกัน ส่วนเรื่องประสิทธิภาพก็ได้ชิปเซ็ตอดีตเรือธงอย่าง Snapdragon 888 + RAM 8GB รองรับการเล่นเกมได้หลากหลายเกม แต่หลัก ๆ ก็คือเน้นในเรื่องการถ่ายภาพล่ะครับ เอาเป็นว่าใครที่ชื่นชอบการถ่ายภาพด้วยสมาร์ตโฟน เน้นภาพสวย ถ่ายง่าย ผมว่า HUAWEI P50 ตอบโจทย์ตรงนี้ได้ดีเลยทีเดียว</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Product 4: Samsung Galaxy Z Fold5 Reviews -->
<div class="modal fade" id="reviewProduct12Modal" tabindex="-1" aria-labelledby="reviewProduct12ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reviewProduct12ModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    <img src="/assets/images/Review12.png" class="img-fluid mb-3" alt="Review12">
                    <li>OPPO Find X5 Pro 5G มือถือเรือธงรุ่นใหม่ล่าสุดของทาง OPPO ที่คราวนี้ได้รับความร่วมมือจาก Hasselblad มาช่วยพัฒนากล้องให้มีความเหนือชั้นยิ่งกว่าที่ผ่านๆ มา อีกทั้งยังมีการใส่ NPU MariSilicon X ที่ OPPO พัฒนาขึ้นมาเอง ช่วยเพิ่มความสามารถในการถ่ายภาพและวิดีโอในทุกช่วงเวลา</li>
                    <p>ซึ่งนอกจากความสามารถในการถ่ายภาพแล้วพลังในการประมวลผลและความเร็วในการชาร์จก็ไม่ธรรมดา เนื่องจากทาง OPPO ใส่ชิปประมวลผลระดับเรือธงสุดแรงอย่าง Snapdragon 8 Gen 1 มาและให้ระบบชาร์จเร็ว 80W SUPERVOOC ที่ทาง OPPO เคลมว่าสามารถชาร์จได้มากกว่า 50% ภายในเวลาแค่ 12 นาทีเท่านั้น เรียกได้ว่าเป็นเรือธงที่อัดสเปคและฟีเจอร์มาอย่างเต็มที่เลย</p>
                    <li>จากที่ดูๆ แล้ว OPPO Find X5 Pro 5G นั้นเรียกว่าค่อนข้างน่าสนใจมากเลยทีเดียว ทั้งการดีไซน์ที่ดูเรียบหรู สเปคที่ให้มาแบบจัดเต็ม มีฟีเจอร์ที่หลากหลาย กล้องระดับเทพที่ได้ Hasselblad มาช่วยพัฒนา ชิป MariSilicon X ที่ช่วยให้การถ่ายวิดีโอในที่แสงน้อยทำได้เหนือล้ำ และระบบชาร์จเร็วขนาด 80W ที่ใช้เวลาสั้นๆ ก็สามารถชาร์จแบตเตอรี่ให้สามารถเอามาใช้งานต่อได้ เรียกว่าเป็นหนึ่งในเรือธงที่น่าสนใจที่สุดในปี 2022 นี้เลยก็ว่าได้</li>
                </ul>
            </div>
        </div>
    </div>
</div>
