.modal-body img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#News1Modal .modal-dialog {
    max-width: 80%;
}
#News2Modal .modal-dialog {
    max-width: 80%;
}
#News3Modal .modal-dialog {
    max-width: 80%;
}
#News4Modal .modal-dialog {
    max-width: 80%;
}