<div class="container mt-4">
  <div class="container ml-4">
  <router-outlet></router-outlet>
</div>



<hr />
<h1>APPLE</h1>
<div class="row">
  <div class="col-3">
    <div class="card">
      <div class="text-center">
        <img src="assets/images/Sushi.jpg" class="rounded" style="width: 150px;">
      </div>
      <div class="card-body">
        <div class="card-title h5">
          ...
        </div>
        <p class="card-text">...</p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="text-center">
        <img src="assets/images/Curry.jpg" class="rounded" style="width: 150px;">
      </div>
      <div class="card-body">
        <div class="card-title h5">
          ...
        </div>
        <p class="card-text">...</p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="text-center">
        <img src="assets/images/ramen.jpg" class="rounded" style="width: 150px;">
      </div>
      <div class="card-body">
        <div class="card-title h5">
          ...
        </div>
        <p class="card-text">...</p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="text-center">
        <img src="assets/images/Soba.jpg" class="rounded" style="width: 200px;">
      </div>
      <div class="card-body">
        <div class="card-title h5">
          ...
        </div>
        <p class="card-text">...</p>
      </div>
    </div>
  </div>
</div><br/>
<h1>SAMSUNG</h1>
<div class="row">
  <div class="col-3">
    <div class="card">
      <div class="text-center">
        <img src="assets/images/Daifugu.jpg" class="rounded" style="width: 150px;">
      </div>
      <div class="card-body">
        <div class="card-title h5">
        ...
        </div>
        <p class="card-text">...</p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="text-center">
        <img src="assets/images/Pancake.jpg" class="rounded" style="width: 150px;">
      </div>
      <div class="card-body">
        <div class="card-title h5">
          ...
        </div>
        <p class="card-text">...</p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="text-center">
        <img src="assets/images/Sakura Mochi.jpg" class="rounded" style="width: 150px;">
      </div>
      <div class="card-body">
        <div class="card-title h5">
          ...
        </div>
        <p class="card-text">...</p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="text-center">
        <img src="assets/images/Orange.jpg" class="rounded" style="width: 200px;">
      </div>
      <div class="card-body">
        <div class="card-title h5">
          ...
        </div>
        <p class="card-text">...</p>
      </div>
    </div>
  </div>
</div><br/>
<h1>OPPO</h1>
<div class="row">
  <div class="col-3">
    <div class="card">
      <div class="text-center">
        <img src="assets/images/GreenTea.jpg" class="rounded" style="width: 200px;">
      </div>
      <div class="card-body">
        <div class="card-title h5">
          ...
        </div>
        <p class="card-text">40</p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="text-center">
        <img src="assets/images/Lemon.jpg" class="rounded" style="width: 200px;">
      </div>
      <div class="card-body">
        <div class="card-title h5">
          ...
        </div>
        <p class="card-text">...</p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="text-center">
        <img src="assets/images/milk.jpg" class="rounded" style="width: 200px;">
      </div>
      <div class="card-body">
        <div class="card-title h5">
          ...
        </div>
        <p class="card-text">...</p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="text-center">
        <img src="assets/images/Cola.jpg" class="rounded" style="width: 200px;">
      </div>
      <div class="card-body">
        <div class="card-title h5">
          ...
        </div>
        <p class="card-text">...</p>
      </div>
    </div>
  </div>
</div>
