<img src="/assets/images/Homepage.jpg" class="img-fluid" alt="..." >

<div class="container mt-4" style="margin-bottom: 100px;">
  <h2 class="text-center">โทรศัพท์มือถือยอดนิยม</h2>
  <div class="row">
    <div class="col-md-3">
      <div class="card text-center">
        <img src="/assets/images/Apple iPhone 16 Plus.jpg" class="card-img-top" alt="Product 1">
        <div class="card-body-sm">
          <p class="card-text">Apple iPhone 16 Plus<br>...</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-center">
        <img src="/assets/images/GP90.jpg" class="card-img-top" alt="Product 2">
        <div class="card-body-sm">
          <p class="card-text">Google Pixel 9<br>...</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-center">
        <img src="/assets/images/oneplus12.jpg" class="card-img-top" alt="Product 3">
        <div class="card-body-sm">
          <p class="card-text">One Plus 12<br>...</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-center">
        <img src="/assets/images/Samsung Galaxy S24 Ultra.webp" class="card-img-top" alt="Product 4" >
        <div class="card-body-sm">
          <p class="card-text">Samsung Galaxy S24 Ultra<br>...</p>
        </div>
      </div>
    </div>
  </div>
</div>


